body {
    height: 1543px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(86, 128, 233, 0.20) 0%, rgba(136, 96, 208, 0.20) 100%), linear-gradient(58deg, #84CEEB -15.34%, #C1C8E4 113.61%);
}

main {
    height: 1459px;
}

form {
    height: 1227px;
}

.pole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}