body {
    height: 3856px;
}

.menu {
    position: relative;
    width: 600px;
    height: 600px;
}

.elipse1 {
    position: absolute;
    width: 302px;
    height: 449px;
    top: 0px;
    left: 0;
    transition: all 1s;
}

.elipse2 {
    position: absolute;
    width: 517px;
    height: 302px;
    top: 298px;
    left: 42px;
    transition: all 1s;
}

.elipse3 {
    position: absolute;
    left: 298px;
    top: 0px;
    transition: all 1s;
}

.elipse1:hover {
    top: -7.5px;
    left: -7.5px;
    transition: all 1s;
}

.elipse2:hover {
    top: 313px;
    left: 42px;
    transition: all 1s;
}

.elipse3:hover {
    left: 305.5px;
    top: -7.5px;
    transition: all 1s;
}

.elipseText1 {
    width: 190px;
    position: absolute;
    bottom: 200px;
    left: 60px;
    color: #FFF;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.elipseText2 {
    width: 265px;
    height: 156px;
    position: absolute;
    left: 125px;
    bottom: 75px;
    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.elipseText3 {
    width: 200px;
    position: absolute;
    bottom: 205px;
    left: 20px;
    color: #FFF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
}

.leftSide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstPart {
    display: flex;
    height: 880px;
}

.card {
    width: 475px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(132, 206, 235, 0.30) 0%, rgba(136, 96, 208, 0.30) 95.16%);
    padding: 15px 15px 15px 15px;
    color: #000000;
}

.headOfCard {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}

.headOfCard h2 {
    margin-right: 15px;
}

.card p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 430px;
}

.secondPart {
    width: 100%;
    height: 964px;
    overflow: hidden;
}

.backImage1 {
    margin-top: -200px;
}

.front1 {
    height: 964px;
    width: 100%;
    position: absolute;
    background: rgba(31, 67, 255, 0.50);
    z-index: 0;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.mainPart {
    position: absolute;
    height: 964px;
    width: 100%;
    z-index: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left > p {
    margin-top: 25px;
    font-size: 48px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.firstRoller {
    display: flex;
    width: 740px;
    height: 545px;
    font-size: 40px;
    overflow: hidden;
    border-radius: 36px;
}

.secondRoller {
    display: flex;
    width: 740px;
    height: 590px;
    font-size: 40px;
    overflow: hidden;
    border-radius: 36px;
    padding-right: 50px;
}

.card1 {
    margin-top: 26px;
    margin-left: 25px;
    width: 692px;
    height: 497px;
    border-radius: 36px;
    background: linear-gradient(90deg, rgba(134, 3, 3, 0.6) 0%, rgba(25, 0, 175, 0.6) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    margin-top: 26px;
    margin-left: 25px;
    width: 692px;
    height: 497px;
    border-radius: 36px;
    background: linear-gradient(90deg, rgba(147, 96, 255, 0.6) 0%, rgba(132, 206, 235, 0.6) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 > p {
    margin-left: 25px;
}

.card2 > p {
    margin-left: 40px;
}

.noneCard {
    display: none;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.front1 .thirdPart {
    width: 100%;
    height: 964px;
    overflow: hidden;
}

.thirdPart {
    width: 100%;
    height: 964px;
    overflow: hidden;
}

.front {
    height: 964px;
    width: 100%;
    position: absolute;
    background: rgba(147, 96, 255, 0.60);
    z-index: 0;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    overflow: hidden;
    align-items: center;
}

.backImage2 {
    margin-top: -450px;
}

.front2 .firstCard {
    width: 432px;
    height: 439px;
}

.front2 .secondCard {
    width: 432px;
    height: 473px;
}

.front2 .fourthCard {
    width: 880px;
    height: 400px;
    font-size: 24px;
    flex-direction: column;
    align-items: flex-start;
}

.front2 .fifthCard {
    width: 466px;
    height: 400px;
}

.front2 .thirdCard {
    width: 454px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.front2 .thirdCard p {
    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.front2 .thirdCard > img {
    width: 314px;
    height: 314px;
}

.front2 .firstCard > p {
    width: 376px;
}

.front2 .secondCard > p {
    width: 397px;
}

.front2 .fourthCard > p {
    width: 896px;
    margin-left: 15px;
}

.front2 .fifthCard > p {
    width: 429px;
}

.front3 {
    height: 964px;
    width: 100%;
    position: absolute;
    background: rgba(132, 206, 235, 0.45);
    z-index: 0;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.card3 {
    height: 55px;
    border-radius: 15px;
    background: rgba(255, 77, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.front3 .thirdCard {
    margin-top: 200px;
    margin-left: 50px;
    width: 454px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.front3 .thirdCard img {
    width: 323px;
    height: 323px;
}

.front3 .thirdCard p {
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
}

.fourthPart {
    width: 100%;
    height: 964px;
    overflow: hidden;
}

.fifthPart {
    width: 100%;
    height: 964px;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 50px;
    background: linear-gradient(270deg, #0019F6 -2.85%, #780505 100%);
    font-size: 36px;
    color: #FFF;
    padding-left: 15px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.textFourth {
    padding-left: 15px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0 15px 0;
}

.btn {
    height: 45px;
    width: 376px;
    border-radius: 25px;
    background: #84CEEB;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.btnBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    height: 80px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.left3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.arrow {
    width: 43.5px;
    height: 37px;
    position: absolute;
    top: 70%;
    left: 86%;
    rotate: 180deg;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0;
    transition: all 0.5s;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.205);
    margin-left: 10px;
    transition: all 0.5s;
}

.right3 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 375px 375px;
    grid-template-rows: 25% 25% 25% 25%;
}

.arr2 {
    top: 68%;
    left: 86%;
}