{% extends "./base.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/styleCounselor.css">
{% endblock %}

{% block content %}
    <h1>Должностные обязанности</h1>
    <hr>
    <p>Работа вожатого предполагает круглосуточное взаимодействие с детьми и носит сезонный характер. Во время смены специалист контролирует дежурство и соблюдение режима дня, занимается подготовкой и проведением досуговых мероприятий, обеспечивает безопасность и комфорт детей, находящихся в группе.</p>
    <p>Его обязанности включают в себя:</p>
    <ul>
        <li><p>Разработка и реализация программы смены</p></li>
        <li><p>Встреча и сопровождение детей</p></li>
        <li><p>Поддержание дисциплины внутри группы</p></li>
        <li><p>Контроль соблюдения санитарно-гигиенических стандартов</p></li>
        <li><p>Подготовка развлекательных и спортивных мероприятий</p></li>
        <li><p>Соблюдение плана занятий</p></li>
        <li><p>Контроль чистоты и порядка в жилых помещениях и на территории детского лагеря</p></li>
        <li><p>Организация уборки</p></li>
        <li><p>Создание дополнительных активностей</p></li>
        <li><p>Обеспечение безопасного и комфортного пребывания в группе</p></li>
        <li><p>Психологическая поддержка детей</p></li>
        <li><p>Коммуникация с родителями</p></li>
    </ul>
    <br>
    <br>
{% endblock %}