{% extends "./base.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/styleCounselor.css">
{% endblock %}

{% block content %}
    <h1>Кто такой вожатый?</h1>
    <hr>
    <h2>Многие задаются вопросом «Кто такой вожатый?».</h2>
    <p>Юридическим языком: вожатый – это сотрудник детского лагеря, физическое лицо, которое...</p>
    <p>Однако если задать этот вопрос тем, кто хоть раз работал в лагере, однозначного ответа вы не получите, так как вожатый – личность многогранная, который многое должен знать и уметь.</p>
    <p>Конечно же вожатый, это человек, чья работа очень ответственна и требует дисциплины и порядка во всех вопросах. Но есть в этой профессии и много других не менее важных составляющих.</p>
    <p>Вожатый – это старший друг для своих подопечных, с которым можно обсудить проблемы или поделиться сокровенным; который выслушает и даст дельный совет.</p>
    <p>Вожатый – человек, любящий детей, который и сам в каком-то смысле является ребенком. Такому человеку легко найти общий язык с детьми и настроится на одну волну. Дети, в свою очередь, замечают это и легче идут на контакт.</p>
    <img src="../../static/img/index/1.jpg" alt="">
    <p>Вожатый, как правило, человек творческий, у которого миллион идей для выступлений и развлечения детей. Всегда организует и проведет интересное коллективно-творческое дело . Также он должен быть и хорошим организатором, чтобы суметь сплотить детей общей целью и поставить на сцене отличный номер. Да так, чтобы это было интересно тем, кто готовит выступление и тем, кто его смотрит.</p>
    <p>Вожатый – веселый и позитивный человек. Он никогда не даст заскучать или загрустить ребенку, потому что детский лагерь – это планета счастья, на которой нет места грусти. Вожатый за этим строго следит. Поэтому это еще и чуткий человек.</p>
    <p>В детском лагере для совсем юного ребенка вожатый – это еще и мама, и папа: отвести в медпункт, рассказать сказку перед сном и прочее.
        <br>Вожатый - учитель, который научит ребенка чему-то новому и полезному.
        <br>Вожатый - пример для подражания: он покажет, что зарядку делать обязательно, и расскажет, для чего это нужно, почему очень важно носить головной убор.</p>
    <p>Таким образом, вожатый универсальный человек, который примеряет на себя сразу несколько профессий: педагог, психолог, аниматор.</p>
    <p></p>
{% endblock %}