{% extends './base.html' %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/styleCounselor.css">
{% endblock %}

{% block content %}
    <h1>Кто может стать вожатым?</h1>
    <hr>
    <p>Наибольшая ценность в такой профессии в доброте, общительности и справедливости в конфликтных решениях. Обладая такими чертами, будет несложно найти общий язык с воспитанниками лагеря. Кроме того, вожатые часто выступают организаторами интересных детских мероприятий, поэтому лучше заранее научиться продумывать увлекательный досуг до мелочей.</p>
    <p>Такой работник выступает в роли приятного собеседника, с которым можно поделиться сокровенными секретами, ведь он поможет справиться с волнением. На начальных этапах работы достаточно любить детей и свою профессию, а остальное приходит с опытом. Итак, человек, планирующий работать в лагере, должен быть:</p>
    <ul>
        <li><p>Наблюдательным</p></li>
        <li><p>Активным</p></li>
        <li><p>Сообразительным</p></li>
        <li><p>Инициативным</p></li>
        <li><p>Организованным</p></li>
        <li><p>Общительным</p></li>
        <li><p>Инициативным</p></li>
        <li><p>Позитивным</p></li>
        <li><p>Самостоятельным</p></li>
    </ul>
    <p>Если вы чувствуете непреодолимую тягу к этой профессии – стоит рискнуть и попробовать себя в новой сфере.</p>
    <br>
    <br>
{% endblock %}