{% extends "base.html" %}

{% block head %} 
    <link rel="stylesheet" href="../static/css/styleForm.css">
    <link rel="stylesheet" href="../static/css/stylePersonalDataForm.css">
{% endblock %}

{% block content %}
    <div>
        <form action="" method="post">
            <div class="pole">
                <h1 style="color: #FFF;
                text-align: center;
                font-family: Arial;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;">Персональные данные</h1>
                <div>
                    {{ form.csrf_token }}
                </div>
                {% for field in form if field.name != 'csrf_token' %}
                    <div class="input">
                            {{ field.label() }}
                            {{ field() }}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %} 
                <div class="submit">
                    <input type="submit" value="Схранить данные" id="submit">
                </div>
            </div>
            <div>
                <p>{{ message }}</p>
            </div>         
        </form>
        
    </div>
{% endblock %}