{% extends "base.html" %}

{% block head %} 
    <link rel="stylesheet" href="../static/css/styleForm.css">
{% endblock %}

{% block content %}
	<form action="" method="post">
        <div class="pole">
            <h1 style="color: #FFF;
            text-align: center;
            font-family: Arial;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;">Регистрация</h1>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' %}
                <div class="input">
                        {{ field.label() }}
                        {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %} 
            <div class="submit">
                <input type="submit" value="Зарегистрироваться" id="submit">
            </div>
        </div>   
        <div>
            <p class="if">Если у вас уже есть аккаунт, то вы можете <br> <a style="text-decoration: none; color: #323294;" href="{{ url_for('login') }}">войти</a></p>
        </div>  
        <div>
            <p>{{ message }}</p>
        </div> 
	</form>
{% endblock %}